name: Deploy Kubernetes Cluster
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Apply
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # TF_VAR_ prefix tells Terraform to fill the variable of that name
          TF_VAR_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
          TF_VAR_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Create SSH Key for Ansible
        run: |
          # Write the private key to a file so Ansible can read it
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > k8s-ansible/id_rsa
          chmod 600 k8s-ansible/id_rsa

      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          cd k8s-ansible
          ansible-playbook -i inventory.ini control-plane.yml workers.yml
